.sprite-webperf {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/webperf.png);}

.cam_be_like {width:482px; height:492px; background-position: -2px -2px}
.profilepic {width:70px; height:70px; background-position: -486px -2px}

li .sprite-webperf { float:left; margin-right: 1em; }
header .sprite-webperf { border-radius: 40px; float: left; }
